{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "transform-optional-chaining",
    ["module-resolver", {
      "alias": {
        "hooks": "./src/hooks",
        "views": "./src/views",
        "components": "./src/components",
        "assets": "./src/assets",
        "propTypes": "./src/types",
        "utils": "./src/utils"
      }
    }]
  ]
}
